<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ostenseur</title>
    <style>
        body {
            background-color: white;
            font-family: century gothic, arial, calibri;
            text-align: center;
        }
        h1 {
            color: blue;
        }
        a {
            color: red;
            text-decoration: none;
            border: 1px solid red;
            border-radius: 10px;
            padding: 10px;
        }
        a:hover {
            background-color: red;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Ostenseur</h1>
    <p>Ici viendra la représentation de l’ostenseur.</p>
    <a href="{{ url_for('index') }}">Retour</a>
</body>
</html>
