/* Plein écran responsif */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

/* Zone du ciel */
#sky {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Croix de visée au centre */
#crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  color: red;
  pointer-events: none;
  z-index: 10;
}

/* Texte de constellation */
#constellation-name {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: white;
  font-family: sans-serif;
  z-index: 10;
}

/* Canvas qui remplit l’écran */
#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
